@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&display=swap');
html{
    background: black;
}  
#wellDone{
  color: transparent;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 88px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click-the-button{
  background-color: pink;
  border-style: solid;
  border-width: 5px;
  border-color: pink;
  border-radius: 100%;
  color: black;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 20px;
}